
    <!-- Preloader -->
    <div id="line-loader">
      <div class="middle-line"></div>
    </div>

    <!--   Menu Overlay Mobile -->
    <div class="menu-overlay d-none"></div>

    <!--   Right Side Start  -->
    <div class="right-side d-none d-lg-block">
      <div id="date"></div>
      <div class="social-box">
        <div class="follow-label">
          <span>Follow Me</span>
        </div>
        <div class="social d-none d-lg-block">
          <a href="https://www.linkedin.com/in/selin-wu-50616b248" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="next-prev-page">
        <button type="button" class="prev-page bg-base-color hstack">
          <i class="bi bi-chevron-compact-up mx-auto"></i>
        </button>
        <button type="button" class="next-page bg-base-color mt-3 hstack">
          <i class="bi bi-chevron-compact-down mx-auto"></i>
        </button>
      </div>
    </div>
    <!--  Right Side End  -->

    <!--  Left Side Start  -->
    <div class="left-side  nav-close">
      <div class="menu-content-align">
        <div class="left-side-image">
          <img src="assets/img/my.jpg" alt="/">
        </div>
        <h1 class="mt-1">Selin Wu</h1>
        <div class="container d-lg-none d-inline-block">
          <div class="row">
            <div class="col-12 text-center">
              <p class="text-muted mb-0">Front-End Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-align">
        <ul class="list-group menu text-center " id="menu">
          <li class="list-group-item">
            <a href="#hero">
              <i class="bi bi-house"></i>
              <span>home</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#about" class="custom-btn">
              <i class="bi bi-person"></i>
              <span>about</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#resume">
              <i class="bi bi-clipboard-check"></i>
              <span>experience</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#portfolio">
              <i class="bi bi-collection"></i>
              <span>works</span>
            </a>
          </li>
        </ul>
        <div class="menu-footer">
          <div class="social d-lg-none d-block">
            <a href="https://www.linkedin.com/in/selin-wu-50616b248"  target="_blank" class="d-inline-block mx-4">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--  Left Side End  -->

    <!--  Main Start  -->
    <main id="main" class="main-2">

      <!--  Hero Start  -->
      <section id="hero" class="section hero w-100">
        <img class="extend-icon" src="assets/img/responsive-dark.png" alt="/">
        <div class="hero-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center text-lg-start">
                <div class="hero-image d-inline-block d-lg-none">
                  <img src="assets/img/my.jpg" alt="/">
                </div>
                <div class="hero-content mt-4 mx-auto mx-lg-0 text-lg-left mt-lg-none">
                  <p class="base-color">Front-End Engineer</p>
                  <h2>Hello , I’m <span class="base-color">Selin Wu </span>Welcome to my World. </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-footer d-block d-lg-none">
          <div class="social d-lg-none mb-4 d-block">
            <a href="https://www.linkedin.com/in/selin-wu-50616b248"  target="_blank" class="d-inline-block mx-4">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </section>
      <!--  Hero End  -->

      <!--  About Start  -->
      <section id="about" class="section about">
        <div class="container">
          <!-- Introducce Me -->
          <div class="about-boxes">
            <div class="row">
              <div class="col-lg-4">
                <div class="about-img">
                  <img src="assets/img/my.jpg" alt="/">
                  <div class="border-img"></div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="about-description">
                  <h3 class="mb-3">關於我</h3>
                  <p class="about-text">喜歡小動物的前端工程師，對於網頁技術開發的領域持續充滿熱情探索中</p>
                </div>  
                <!-- Personal Info -->
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="knowledge-item">
                      <li>Angular</li>
                      <li>Vue</li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="knowledge-item">
                      <li>CSS(SASS/SCSS)</li>
                      <li>GAME</li>
                    </ul>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <!--  Count up  -->
          <div id="count-up" class="count-up text-center box-border">
            <div class="row"></div>
          </div>
          <!--  Skillbar  -->
          <div class="row mt-5 skills">
            <div class="col-lg-6">
              <h3 class="subtitle">研發技能</h3>
              <div id="skills">
                <!-- Item 01 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Front-End</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="99" data-speed="4000">99</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="99%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
                <!-- Item 02 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Agile Development</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="70" data-speed="4000">70</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 ms-auto mt-5 mt-lg-0">
              <h3 class="subtitle">個人特質</h3>
              <div class="language-bar">
                <!-- Item 01 -->
                <div class="language-skill">
                  <h6 class="mb-0">團隊協作</h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                  </ul>
                </div>
                <!-- Item 02 -->
                <div class="language-skill">
                  <h6 class="mb-0">輔導教學</h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  About End  -->

      <!--  Resume Start  -->
      <section id="resume" class="section">
        <div class="container">
          <!--  Resume  -->
          <div class="resume">
            <!--  TimeLine Experience  -->
            <div class="boxes mt-6 mb-3">
              <h3 class="subtitle">工作經歷</h3>
              <div class="row vertical-line">
                <!--   Item 01   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2019 - now</p>
                      <h6 class="timeline-title">艾爾加科技有限公司 - Front-End Engineer</h6>
                    </div>
                    <div class="timeline-content">
                      <div>1. 使用Angular、Vue開發</div>
                      <div>2. CSS動畫開發</div>
                      <div>3. Unit Test、E2E Testing、Api Testing</div>
                      <div>4. 與後端工程師、設計師配合、討論，規劃及串接Api</div>
                    </div>
                  </div>
                </div>
                <!--   Item 02   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2017 - 2019</p>
                      <h6 class="timeline-title">元創科技有限公司 - Front-End Engineer</h6>
                    </div>
                    <div class="timeline-content">
                      <div>1. 網頁切版與開發功能</div>
                      <div>2. 使用React撰寫網站</div>
                      <div>3. API文件撰寫與API自動測試</div>
                      <div>4. 使用版控工具Git</div>
                    </div>
                  </div>
                </div>
                <!--   Item 03   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2016 - 2017</p>
                      <h6 class="timeline-title">益林事業有限公司 - Front-End Web Designer </h6>
                    </div>
                    <div class="timeline-content">
                      <div>1. 設計網頁與切版</div>
                      <div>2. 與業務、企劃、程式設計等相關人員配合執行專案</div>
                    </div>
                  </div>
                </div>
                <!--   Item 04   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2014 - 2016</p>
                      <h6 class="timeline-title">台灣雲端運算股份有限公司 - Front-End Web Designer</h6>
                    </div>
                    <div class="timeline-content">
                      <div>1. 設計公司形象之視覺規範、網站規劃與開發</div>
                      <div>2. 實務經驗能獨立作業完成案件</div>
                      <div>3. 與業務、企劃、程式設計等相關人員配合執行專案</div>
                      <div>4. 負責網站更新與管理</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  TimeLine Education  -->
            <div class="boxes my-6">
              <h3 class="subtitle">學歷</h3>
              <div class="row vertical-line">
                <!--  Item 01  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2010 - 2014</p>
                      <h6 class="timeline-title">朝陽科技大學</h6>
                    </div>
                    <div class="timeline-content">
                      <p>資訊管理系</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="timeline-box">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  Resume End  -->

      <!--  Portfolio Start  -->
      <section id="portfolio" class="section portfolio">
        <div class="container">
          <div class="heading-meta-container">
            <h2 class="heading-title">作品展示</h2>
            <h6 class="description">See My Work</h6>
          </div>
          <div class="row">
            <!--   Portfolio Filters   -->
            <ul id="portfolio-filter" class="list-inline col-lg-12 portfolio-filter text-center">
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter="*" class="active">All</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter=".webdesign">Web</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter=".mobiledesign">Mobile</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter=".training">Team Training</a>
              </li>
            </ul>
          </div>
          <div class="portfolio-items border-line-v row">
            <!-- Item 01 -->
            <div class="col-md-6 col-lg-4 portfolio-item webdesign">
              <div class="portfolio-box">
                <div class="portfolio-image">
                  <img src="assets/img/pos.jpg" alt="/">
                  <div class="portfolio-icon">
                    <a href="assets/img/pos.jpg" class="portfolio-magnific mfp-iframe">
                      <i class="bi bi-file-earmark-text"></i>
                    </a>
                  </div>
                </div>
                <div class="portfolio-content">
                  <h6 class="blog-header">皮飾美學 POS System</h6>
                  <p class="mb-0">Vue</p>
                </div>
              </div>
            </div>
            <!-- Item 02 -->
            <div class="col-md-6 col-lg-4 portfolio-item webdesign">
              <div class="portfolio-image">
                <img src="assets/img/ga.png" alt="/">
                <div class="portfolio-icon">
                  <a href="assets/img/ga.png" class="portfolio-magnific mfp-iframe">
                    <i class="bi bi-file-earmark-text"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">Readme System</h6>
                <p class="mb-0">Golang + Angular + GCP</p>
              </div>
            </div>
            <!-- Item 03 -->
            <div class="col-md-6 col-lg-4 portfolio-item training">
              <div class="portfolio-image">
                <img src="assets/img/breakfast.jpg" alt="/">
                <div class="portfolio-icon">
                  <a href="https://photos.app.goo.gl/UhQYaTJEgUMANyFT7" target="_blank"  class="ajax-page-load">
                    <i class="bi bi-file-earmark-text"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">敏捷早餐下的前端團隊</h6>
                <p class="mb-0">2023/07/09 前端小聚-協辦人</p>
              </div>
            </div>
            <!-- Item 04 -->
            <div class="col-md-6 col-lg-4 portfolio-item training">
              <div class="portfolio-image">
                <img src="assets/img/monitor.jpg" alt="/">
                <div class="portfolio-icon">
                  <a href="#" class="ajax-page-load">
                    <i class="bi bi-file-earmark-text"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">前端監控就是這麼的重要!</h6>
                <p class="mb-0">2023/05/28 前端小聚-協辦人</p>
              </div>
            </div>
            <!-- Item 05 -->
            <div class="col-md-6 col-lg-4 portfolio-item mobiledesign">
              <div class="portfolio-image">
                <img src="assets/img/ios_game.jpg" alt="/">
                <div class="portfolio-icon">
                  <a href="#" class="portfolio-magnific mfp-iframe">
                    <i class="bi bi-camera-video"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">熊嗨遊樂園</h6>
                <p class="mb-0">IOS Swift APP + Golang + GCP</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  Portfolio End  -->

    </main>
    <!--  Main End  -->

    <!--  Mobile Next and Prev Button Start -->
    <div class="next-prev-page d-block d-lg-none">
      <button type="button" class="prev-page bg-base-color hstack">      
        <i class="bi bi-chevron-compact-left mx-auto"></i>
      </button>
      <button type="button" class="next-page bg-base-color mt-1 mt-lg-3 hstack">
        <i class="bi bi-chevron-compact-right mx-auto"></i>
      </button>
    </div>
    <!--  Mobile Next and Prev Button End -->

    <!--  Navbar Button Mobile Start -->
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!--  Navbar Button Mobile End -->

    <!--  Background Shapes Start  -->
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!--  Background Shapes End  -->

    <!-- Mouase Magic Cursor Start -->
    <div class="m-magic-cursor mmc-outer"></div>
	  <div class="m-magic-cursor mmc-inner"></div>
    <!-- Mouase Magic Cursor End -->
